/*
hexadecimal color:
black 0123456789abcdef white 
*/

body {
  background-color: #ece;
}

h1 {
  font-family: monospace; 
}

h2 {
   font-family: carier-new;
   font-size:4em; /* 20px = 1em */
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
