/*
hexadecimal color:
black 0123456789abcdef white 
*/

body {
  background-color: #eaa;
}

h1 {
  font-family: monospace; 
}

h2 {
   font-family: carier-new;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
